.holidays {
    background: linear-gradient(rgb(0 0 0 / 31%), rgb(0 0 0 / 31%)),
      url(../img/holidays/holidayimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 530px;
  
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    h2 {
      font-weight: bold;
      color: #fff;
    }
  }